@model FilmInfor.Models.Movie

@{
    ViewData["Title"] = "UpdateMovie";
    Layout = "~/Views/Admin/Shared/_LayoutAdmin.cshtml";
}
<div class="Dashboard container">
    <div class="row">
<h1>Update Movie</h1>

   
        <form asp-action="UpdateMovie" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <input asp-for="MovieId" class="form-control" />
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label for="GenreId" class="form-label">GenreId</label>
                <select id="GenreId" class="form-select" asp-for="GenreId" >
                    @foreach (var item in ViewBag.Genre)
                    {
                        <option value="@item.GenreId">@item.Description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input onclick="location.href='@Url.Action("DashboardMovie", "Admin")'"  type="submit" value="Save" class="btn btn-primary" />
                <button onclick="location.href='@Url.Action("DashboardMovie", "Admin")'" type="button" class="btn btn-danger">Back to List</button>
            </div>
        </form>
    </div>
</div>


